## messageSource=classpath:/pacoshopcore/messages/email-orderEmailFulfillment_$lang.properties
#macro( genHtmlBoldFont $text )
<font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif"><b>$text</b></font>
#end
#macro(genHtmlLinkStartTag $url)
<a href="$url"><font color="#666666">
#end
#macro(genHtmlLinkEndTag)
</font></a>
#end
#macro(genHtmlLink $url $textColor $bodyContent)
<a href="$url"><font color="$textColor">$bodyContent</font></a>
#end

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>VHB</title>
    <style type="text/css">
        .ExternalClass{
            display:block !important;
            width:100% !important;
        }
        a {
            text-decoration:none !important;
        }
    </style>
</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" bgcolor="#ffffff">
<br/>

<b>order number: </b>${ctx.orderCode}<br/>
<b>order submission date: </b>${ctx.orderData.created}<br/>
<br/>

#if(${ctx.customerAddress})
    <b>order customer address: </b><br/>
        #if(${ctx.customerAddress.title})
            ${ctx.customerAddress.title.name}
        #end
        First name: $!{ctx.customerAddress.firstname} Last name: $!{ctx.customerAddress.lastname}<br/>
        $!{ctx.customerAddress.line1}<br/>
        #if(${ctx.customerAddress.line2} && ${ctx.customerAddress.line2} != "")
            ${ctx.customerAddress.line2}<br/>
        #end
        Town: $!{ctx.customerAddress.town}<br/>
        Postal code: $!{ctx.customerAddress.postalcode}<br/>
        Country: $!{ctx.customerAddress.country.name}<br/>
    <b>order customer email: </b><br/>
        $!{ctx.customerAddress.email}<br/>
    <br/>
#end

#if(${ctx.deliveryAddress})
    <b>order delivery address: </b><br/>
        #if(${ctx.deliveryAddress.title})
            ${ctx.deliveryAddress.title.name}
        #end
        First name: $!{ctx.deliveryAddress.firstname} Last name: $!{ctx.deliveryAddress.lastname}<br/>
        $!{ctx.deliveryAddress.line1}<br/>
        #if(${ctx.deliveryAddress.line2} && ${ctx.deliveryAddress.line2} != "")
            ${ctx.deliveryAddress.line2}<br/>
        #end
        #if(${ctx.deliveryAddress.town} &&! ${ctx.deliveryAddress.town.isEmpty()})
        Town: $!{ctx.deliveryAddress.town}<br/>
        #end
        #if(${ctx.deliveryAddress.postalcode} &&! ${ctx.deliveryAddress.postalcode.isEmpty()})
        Postal code: $!{ctx.deliveryAddress.postalcode}<br/>
        #end
        #if(${ctx.deliveryAddress.country.name} &&! ${ctx.deliveryAddress.country.isEmpty()})
        Country: $!{ctx.deliveryAddress.country.name}<br/>
        #end
    <b>order delivery email: </b><br/>
        $!{ctx.deliveryAddress.email}<br/>
    <br/>
#end

#if(${ctx.invoiceAddress})
    <b>order payment address: </b><br/>
        #if(${ctx.invoiceAddress.title})
              ${ctx.invoiceAddress.title.name}
        #end
        #if(${ctx.invoiceAddress.firstname} && ${ctx.invoiceAddress.lastname})
                     $!{ctx.invoiceAddress.firstname} $!{ctx.invoiceAddress.lastname}<br/>
        #end
        #if(${ctx.invoiceAddress.line1})
                     $!{ctx.invoiceAddress.line1}<br/>
        #end
        #if(${ctx.invoiceAddress.line2} &&! ${ctx.invoiceAddress.line2.isEmpty()})
                     ${ctx.invoiceAddress.line2}<br/>
        #end
        #if(${ctx.invoiceAddress.town})
        Town:        $!{ctx.invoiceAddress.town}<br/>
        #end
        #if(${ctx.invoiceAddress.postalcode})
        Postal code: $!{ctx.invoiceAddress.postalcode}<br/>
        #end
        #if(${ctx.invoiceAddress.country})
        Country:     $!{ctx.invoiceAddress.country.name}<br/>
        #end
    <b>order payment email: </b><br/>
        $!{ctx.invoiceAddress.email}<br/>
    <br/>
#end

#if(${ctx.existingCustomerId})
<b>existing customer id: </b>${ctx.existingCustomerId}<br/>
#end

#if(${ctx.studentGraduationDate})
<b>student graduation date: </b>${ctx.studentGraduationDate}<br/>
#end

#if(${ctx.milesAndMoreId} &&! $ctx.milesAndMoreId.isEmpty())
<b>Miles and More number: </b>${ctx.milesAndMoreId}<br/>
#end

#if(${ctx.paymentMethod})
<b>Payment method: </b>${ctx.paymentMethod}<br/>
#end

#if(${ctx.paymentMode})
<b>Payment mode: </b>${ctx.paymentMode.name}<br/>
#end

#if(${ctx.paymentStatus})
<b>Payment status: </b>${ctx.paymentStatus.name}<br/>
#end

<b>Order total: </b>${ctx.orderData.totalPrice.formattedValue}<br/>

<b>Order total tax: </b>${ctx.orderData.totalTax.formattedValue}<br/>

<br/>
<b>Products: </b><br/>
#foreach( $product in $ctx.productDTOs )
    <li>name: ${product.name}; externalProductId: ${product.externalProductId}; offerOrigin: ${product.offerOrigin}</li>
#end
<br/>

#if($ctx.bonuses.size() != 0)
<b>Bonus: </b><br/>
    #foreach( $bonus in $ctx.bonuses )
        <li>
        id: ${bonus.bonusId};
        parentProductName: ${bonus.parentProductName};
        #if(${bonus.bonusAmount})
            bonusAmount: ${bonus.bonusAmount.amount} ${bonus.bonusAmount.currency};
        #end
        #if(${bonus.bonusMiles})
            bonusMiles: ${bonus.bonusMiles};
        #end
        #if(${bonus.bonusProduct})
            bonus product name: ${bonus.bonusProduct};
        #end
        #if(${bonus.bonusProductExtraPayment})
            bonusProductExtraPayment: ${bonus.bonusProductExtraPayment.amount} ${bonus.bonusProductExtraPayment.currency};
        #end
        </li>
    #end
#end
<br/>


#if($ctx.doubleForTest > 0)
    some text for testtttttttttttttttttttttttttttttttttttttttttt
#end

ffffffffffffffffffffffffff

</body>
</html>