/** Add css rules here for your application. */

h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

body, td, a, div, .p {
    font-family: arial, sans-serif
}

.centerCenterStyle {
    background: none repeat scroll 0 0 #808080;
}

.centerCenterLabel {

}

.gwt-Label{
    font-size: 30px;
}

/* stock list flex table */
.watchList {
    border: 1px solid silver;
    padding: 2px;
    margin-bottom:6px;
}

/* stock list header row */
.watchListHeader {
    background-color: #2062B8;
    color: white;
    font-style: italic;
}

/* stock list Price and Change fields */
.watchListNumericColumn {
    text-align: right;
    width:8em;
}


/* stock list Remove column */
.watchListRemoveColumn {
    text-align: center;
}

/* Add Stock panel */
.addPanel {
    margin: 20px 23px 21px;
}

/* stock list, the Remove button */
.gwt-Button-remove {
    width: 50px;
}

.nikitaMainPanelStyle {
    width: 100%;
}

/* Dynamic color changes for the Change field */
.noChange {
    color: black;
}

.positiveChange {
    color: green;
}

.negativeChange {
    color: red;
}

.example-OptionalCheckBox {

}

.cw-BasicPopup-thumb {

}