body {
    background-color: #00BEBE;
}
#tabs {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: #00A6A6;
}
#tabs-1 img {
    width: 250px;
    height: 320px;
    border: solid lightgrey 1px;

}
#selectable .ui-selecting {
    background: #FECA40;
}
#selectable .ui-selected {
    background: #F39814; color: white;
}
#selectable {
    list-style-type: none; margin: 0; padding: 0; width: 60%;
}
#selectable li {
    margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px;
}

/* Note that jQuery UI CSS is loaded from Google's CDN in the "Add Resources" pane to the left.  Normally this would be done in your <head> */