<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <welcome-file-list>
        <welcome-file>/jqueryinaction/index.html</welcome-file>
        <!--<welcome-file>LearnGwt.jsp</welcome-file>-->
    </welcome-file-list>

    <!--<servlet>-->
        <!--<servlet-name>mvc-dispatcher</servlet-name>-->
        <!--<servlet-class>-->
            <!--org.springframework.web.servlet.DispatcherServlet-->
        <!--</servlet-class>-->
        <!--<load-on-startup>1</load-on-startup>-->
    <!--</servlet>-->

    <!--<servlet-mapping>-->
        <!--<servlet-name>mvc-dispatcher</servlet-name>-->
        <!--<url-pattern>/mvc/*</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<context-param>-->
        <!--<param-name>contextConfigLocation</param-name>-->
        <!--<param-value>/WEB-INF/mvc-dispatcher-servlet.xml</param-value>-->
    <!--</context-param>-->

    <!--<listener>-->
        <!--<listener-class>-->
            <!--org.springframework.web.context.ContextLoaderListener-->
        <!--</listener-class>-->
    <!--</listener>-->

    <context-param>
        <param-name>tempfile.dir</param-name>
        <param-value>tmpfiles</param-value>
    </context-param>


    <!-- include the REST api services -->
    <!--<servlet>-->
        <!--<servlet-name>RestApiServlet</servlet-name>-->
        <!--<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>-->
        <!--<init-param>-->
            <!--<param-name>javax.ws.rs.Application</param-name>-->
            <!--<param-value>cz.zoom.scorecard.rest.RestApiApplication</param-value>-->
        <!--</init-param>-->
        <!--<load-on-startup>1</load-on-startup>-->
    <!--</servlet>-->


    <servlet>
        <servlet-name>TestForwardRedirectServlet</servlet-name>
        <servlet-class>com.learn.web.servlets.TestForwardRedirectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestForwardRedirectServlet</servlet-name>
        <url-pattern>/TestForwardRedirectServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SchedulerStartServlet</servlet-name>
        <servlet-class>com.learn.web.servlets.SchedulerStartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SchedulerStartServlet</servlet-name>
        <url-pattern>/SchedulerStartServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TestServletContextServlet</servlet-name>
        <servlet-class>com.learn.web.servlets.TestServletContextServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServletContextServlet</servlet-name>
        <url-pattern>/TestServletContextServlet</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>EmployeeServlet</servlet-name>
        <servlet-class>com.learn.web.pagination.servlet.EmployeeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmployeeServlet</servlet-name>
        <url-pattern>/employee</url-pattern>
    </servlet-mapping>


    <session-config>
        <session-timeout>1</session-timeout>
    </session-config>


    <!--<error-page>-->
        <!--<error-code>404</error-code>-->
        <!--<location>/AppExceptionHandlerServlet</location>-->
    <!--</error-page>-->

    <!--<error-page>-->
        <!--<exception-type>javax.servlet.ServletException</exception-type>-->
        <!--<location>/AppExceptionHandlerServlet</location>-->
    <!--</error-page>-->


    <!--<error-page>-->
        <!--<exception-type>com.learn.web.exceptions.CustomRuntimeException</exception-type>-->
        <!--<location>/CustomExceptionHandlerServlet</location>-->
    <!--</error-page>-->

</web-app>