.ext-ie8 .x-tab-strip .x-tab-right {
    position: static !important;
}

.log-panel {
    z-index: 2000 !important;
}

/*body {*/
/*background-color: white;*/
/*color: black;*/
/*font-family: Arial, sans-serif;*/
/*font-size: small;*/
/*margin: 8px;*/
/*}*/

.icon-feedbacks {
    background: url("resources/images/fam/application_view_detail.png") no-repeat !important;
}

.icon-dashboard {
    background: url("resources/images/fam/dashboard.png") no-repeat !important;
}

.icon-columns {
    background: url("resources/images/fam/application_view_columns.png") no-repeat !important;
}

.icon-checkbox {
    background: url("resources/images/zoom/checkbox.png") no-repeat !important;
}

.icon-checkbox-some {
    background: url("resources/images/zoom/checkbox-some.png") no-repeat !important;
}

.icon-printer {
    background: url("resources/images/fam/printer.png") no-repeat !important;
}

.green-trend {
    /*background-image: url("resources/images/fam/arrow_green.png");*/
    background-color: black;
    color: green;
}

.import-questform {
    background: url("resources/images/fam/book_previous.png") no-repeat !important;
}

.export-questform {
    background: url("resources/images/fam/book_next.png") no-repeat !important;
}

.import-speechtags {
    background: url("resources/images/fam/book_previous.png") no-repeat !important;
}

.export-speechtags {
    background: url("resources/images/fam/book_next.png") no-repeat !important;
}

.interactions-updatesearch {
    background: url("resources/images/fam/arrow_refresh.png") no-repeat !important;
}

.folder-edit {
    background: url("resources/images/fam/folder_edit.png") no-repeat !important;
}

.icon-building-edit {
    background: url("resources/images/fam/building_edit.png") no-repeat !important;
}

.icon-comment {
    background: url("resources/images/fam/comment_add.png") no-repeat !important;
}

.icon-checked {
    background: url("resources/images/zoom/checkbox.png") no-repeat !important;
}

.icon-gear {
    background: url("resources/images/zoom/gear.png") no-repeat !important;
}

.icon-cog {
    background: url("resources/images/fam/cog.png") no-repeat !important;
}

.icon-key {
    background: url("resources/images/fam/group_key.png") no-repeat !important;
}

.icon-monitor-error {
    background: url("resources/images/fam/monitor_error.png") no-repeat !important;
}

.icon-graph {
    background: url("resources/images/fam/chart_curve.png") no-repeat !important;
}

.icon-note {
    background: url("resources/images/zoom/note_edit.png") no-repeat !important;
}

.icon-thumb-down {
    background: url("resources/images/zoom/hand_thumb_down.png") no-repeat !important;
}

.icon-thumb-up {
    background: url("resources/images/zoom/hand_thumb_up.png") no-repeat !important;
}

.icon-to-sheet {
    background: url("resources/images/fam/page_go.png") no-repeat !important;
}

.icon-show-param {
    background: url("resources/images/fam/application_view_list.png") no-repeat !important;
}

.icon-report {
    background: url("resources/images/fam/report.png") no-repeat !important;
}

.icon-phone-sound {
    background: url("resources/images/fam/phone_sound.png") no-repeat !important;
}

.icon-phone-add {
    background: url("resources/images/fam/phone_add.png") no-repeat !important;
}

.chart {
    background: url("resources/chart/open-flash-chart.swf") no-repeat !important;
}

.icon-phone-delete {
    background: url("resources/images/fam/phone_delete.png") no-repeat !important;
}

.icon-cancel {
    background: url("resources/images/fam/cancel.png") no-repeat !important;
}

.icon-saveascopy {
    background: url("resources/images/fam/page_save.png") no-repeat !important;
}

.icon-save {
    background: url("resources/images/fam/disk.png") no-repeat !important;
}

.icon-accept {
    background: url("resources/images/fam/accept.png") no-repeat !important;
}

.icon-details {
    background: url("resources/images/fam/application_form_magnify.png") no-repeat !important;
}

.icon-csrules {
    background: url("resources/images/fam/application_cascade.png") no-repeat !important;
}

.icon-add {
    background: url("resources/images/fam/add.png") no-repeat !important;
}

.icon-mail {
    background: url("resources/images/fam/email.png") no-repeat !important;
}

.icon-play {
    background: url("resources/images/fam/control_play_blue.png") no-repeat !important;
}

.icon-pause {
    background: url("resources/images/fam/control_pause_blue.png") no-repeat !important;
}

.icon-wait {
    background: url("resources/images/fam/hourglass.png") no-repeat !important;
}

.icon-new {
    background: url("resources/images/fam/page_white.png") no-repeat !important;
}

.icon-new-world {
    background: url("resources/images/fam/page_white_world.png") no-repeat !important;
}

.icon-evaluate {
    background: url("resources/images/fam/chart_bar_edit.png") no-repeat !important;
}

.icon-grade {
    background: url("resources/images/fam/chart_bar.png") no-repeat !important;
}

.icon-readonly-eval {
    background: url("resources/images/fam/eye.png") no-repeat !important;
}

.icon-refresh {
    background: url("resources/images/fam/arrow_refresh.png") no-repeat !important;
}

.icon-page-refresh {
    background: url("resources/images/fam/page_refresh.png") no-repeat !important;
}

.icon-edit {
    background: url("resources/images/fam/pencil.png") no-repeat !important;
}

.icon-audio-export {
    background: url("resources/images/zoom/document_into.png") no-repeat !important;
}

.icon-date-magnify {
    background: url("resources/images/fam/date_magnify.png") no-repeat !important;
}

.icon-application-form-edit {
    background: url("resources/images/fam/application_form_edit.png") no-repeat !important;
}

.icon-application-speechtags {
    background: url("resources/images/zoom/speech/pin_green.png") no-repeat !important;
}

.icon-information {
    background: url("resources/images/fam/information.png") no-repeat !important;
}

.icon-remove {
    background: url("resources/images/fam/delete.png") no-repeat !important;
}

.icon-magnifier {
    background: url("resources/images/fam/magnifier.png") no-repeat !important;
}

.icon-warn {
    background: url("resources/images/fam/error.png") no-repeat !important;
}

/* Set icon for tree expand control */
.my-tree-close {
    background: url(resources/images/default/tree/elbow-plus-nl.gif) no-repeat;
}

/* Set icon for tree collapse control */
.my-tree-open {
    background: url(resources/images/default/tree/elbow-minus-nl.gif) no-repeat;
}

/* Set icon for tree expand control on hover */
.my-tree-joint-over .my-tree-open {
    background: url(resources/images/default/tree/elbow-minus-nl.gif) no-repeat;
}

/* Set icon for tree collapse control on hover*/
.my-tree-joint-over .my-tree-close {
    background: url(resources/images/default/tree/elbow-plus-nl.gif) no-repeat;
}

.icon-expand-all {
    background: url(resources/images/fam/arrow_out.png) no-repeat center left !important;
}

.icon-collapse-all {
    background: url(resources/images/fam/arrow_in.png) no-repeat center left !important;
}

/*Icon for current user button*/
.icon-group {
    background: url(resources/images/fam/group.png) no-repeat center left !important;
}

/*Icon for tooltips button*/
.icon-tooltips {
    background: url(resources/images/fam/comment.png) no-repeat center left !important;
}

/*Icon for logout button*/
.icon-logout {
    background: url(resources/images/fam/disconnect.png) no-repeat center left !important;
}

/*Icon for search button*/
.icon-search {
    background: url(resources/images/fam/magnifier.png) no-repeat center left !important;
}

.icon-calculator {
    background: url(resources/images/fam/calculator.png) no-repeat center left !important;
}

.icon-template-add {
    background: url(resources/images/fam/note_add.png) no-repeat center left !important;
}

.icon-template {
    background: url(resources/images/fam/note_edit.png) no-repeat center left !important;
}

.icon-template-load {
    background: url(resources/images/fam/note_go.png) no-repeat center left !important;
}

.icon-re-evaluate {
    background: url(resources/images/zoom/re-eval.png) no-repeat center left !important;
}

.icon-re-open {
    background: url(resources/images/fam/lock_open.png) no-repeat center left !important;
}

.icon-edit-param {
    background: url(resources/images/zoom/book-edit.png) no-repeat center left !important;
}

.icon-reset-password {
    background: url(resources/images/fam/lock_edit.png) no-repeat center left !important;
}

.icon-role-manager {
    background: url(resources/images/zoom/role-manager.png) no-repeat center left !important;
}

.icon-copy {
    background: url(resources/images/zoom/copy.png) no-repeat center left !important;
}

.icon-bin {
    background: url(resources/images/zoom/email_delete.png) no-repeat center left !important;
}

.icon-mark-read {
    background: url(resources/images/fam/email_go.png) no-repeat center left !important;
}

.icon-mark-unread {
    background: url(resources/images/fam/email_error.png) no-repeat center left !important;
}

/* Style for groupTree */
.tree-container {
    margin-right: 5px;
}

/* Style for LabelField to look like a form label*/
.custom-label {
    font-family: tahoma, arial, helvetica, sans-serif;
    font-size: 12px;
    font-size-adjust: none;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: normal;
    padding: 3px 3px 3px 0;
    clear: none;
    margin-bottom: 4px;
}

.training-instructions-style {
    font-family: arial, helvetica, tahoma, sans-serif;
    font-size: 14px;
    font-size-adjust: none;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    clear: none;
    margin-bottom: 4px;
    line-height: 145%;
    overflow: auto;
    white-space: pre;
}

.hidden-overflow {
    white-space: nowrap;
    overflow: hidden;
}

.text-normal {
    font-weight: normal;
}

.text-bold {
    font-weight: bold;
}

/* label field with custom margin */
.toolbar-custom-label {
    margin-left: 10px;
    margin-right: 5px;
}

/* Group tree enabled item */
/*.group-item-enabled>div>span  {
  cursor: pointer !important;
  color: #000000 !important; *//*black*//*
}*/

/* Group tree disabled item */
.group-item-disabled {
    color: #C0C0C0 !important; /*lightgrey*/
    cursor: default !important;
}

.list-invalid {
    border-width: 1px;
    border-color: red;
}

.navigation-filter {
    width: 145px;
}

.error-text {
    color: red !important;
}

.text-align-center {
    text-align: center;
}

.text-align-justify {
    text-align: justify;
}

.margin_0_0_0_5 {
    margin: 0px 0px 0px 5px !important;
}

.margin_0_0_10_0 {
    margin: 0px 0px 10px 0px;
}

.margin_0_0_5_0 {
    margin: 0px 0px 5px 0px;
}

.margin_0_0_4_0 {
    margin: 0px 0px 4px 0px;
}

.margin_10_0_0_0 {
    margin: 10px 0px 0px 0px;
}

.margin_150_0_0_0 {
    margin: 150px 0px 0px 0px;
}

.margin_8_8_8_8 {
    margin: 8px 8px 8px 8px;
}

.margin_10_5_10_10 {
    margin: 10px 5px 10px 10px;
}

.margin_10_10_0_5 {
    margin: 10px 10px 0px 5px;
}

.margin_10_10_10_10 {
    margin: 10px 10px 10px 10px;
}

.margin_5_5_0_5 {
    margin: 5px 5px 0px 5px;
}

.margin_5_0_0_0 {
    margin: 5px 0 0 0;
}

.margin_15_0_15_0 {
    margin: 15px 0 15px 0;
}

.margin_0_10_0_0 {
    margin: 0 10px 0 0 !important;
}

.margin_0_0_0_20 {
    margin: 0 0 0 20px;
}

.padding_0_0_0_10 {
    padding: 0px 0px 0px 10px;
}

.padding_0_0_0_15 {
    padding: 0 0 0 15px;
}

.padding_0_0_10_0 {
    padding: 0 0 10px 0;
}

.padding_0_0_0_25 {
    padding: 0px 0px 0px 25px;
}

.padding_0_0_5_0 {
    padding: 0 0 5px 0;
}

.padding_0_0_5_5 {
    padding: 0 0 5px 5px;
}

.padding_0_0_4_0 {
    padding: 0 0 4px 0;
}

.padding_0_0_10_0 {
    padding: 0 0 10px 0;
}

.padding_0_0_15_0 {
    padding: 0 0 15px 0;
}

.padding_0_10_0_0 {
    padding: 0px 10px 0px 0px;
}

.padding_0_10_0_10 {
    padding: 0px 10px 0px 10px;
}

.padding_0_20_0_0 {
    padding: 0px 20px 0px 0px;
}

.padding_0_5_0_5 {
    padding: 0px 5px 0px 5px;
}

.padding_1_0_0_0 {
    padding: 1px 0px 0px 0px;
}

.padding_3_0_0_0 {
    padding: 3px 0px 0px 0px;
}

.padding_10_0_0_0 {
    padding: 10px 0px 0px 0px;
}

.padding_10_0_0_10 {
    padding: 10px 0px 0px 10px;
}

.padding_5_0_0_0 {
    padding: 5px 0px 0px 0px;
}

.padding_5_0_0_0 {
    padding: 5px 0px 0px 0px;
}

.padding_5_0_5_0 {
    padding: 5px 0px 5px 0px;
}

.padding_5_0_7_0 {
    padding: 5px 0px 7px 0px;
}

.padding_10 {
    padding: 10px;
}

.all_none_checkbox .x-form-cb-label {
    font-weight: bold;
}

.all_none_checkbox {
    padding: 5px 0px 0px 3px;
}

.padding_5_10_5_10 {
    padding: 5px 10px 5px 10px;
}

.padding_0_10_5_10 {
    padding: 0px 10px 5px 10px;
}

.padding_5_10_0_10 {
    padding: 5px 10px 0px 10px;
}

.padding_10 {
    padding: 10px;
}

.padding_2_0_2_0 {
    padding: 2px 0;
}

.padding_2_2_2_0 {
    padding: 2px 2px 2px 0;
}

.padding_0_0_0_60 {
    padding: 0px 0px 0px 60px;
}

.multiple_combobox div div div {
    background-color: #dfe8f6 !important;
    border-width: 0px;
}

.x-h-box-layout-content-panel-blue .x-box-inner {
    background-color: #dfe8f6 !important;
}

#loading {
    background: white;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -180px 0 0 -281px;
    padding: 0;
    height: auto;
    border: 1px solid #ccc;
}

#loading .loading-indicator {
    color: #444;
    font: bold 13px tahoma, arial, helvetica;
    padding: 10px;
    margin: 0;
    height: auto;
}

#loading .loading-indicator img {
    margin-right: 8px;
    float: left;
    vertical-align: top;
}

#loading-msg {
    font: normal 10px arial, tahoma, sans-serif;
}

.licenseGridRenderer {
    font-size: 11px;
}

.text-align-right {
    text-align: right;
}

.text-align-left {
    text-align: left;
}

.dialog-header-message {
    text-align: center;
    font-weight: bolder;
    background-color: #1A1EB2;
    color: white;
}

.dialog-header-label {
    text-align: center;
    font-weight: bold;
    color: #373737;
    padding: 4px 0;
}

/*TODO interactions 1 save search icon*/
.icon-save-search {

}

/*TODO interactions 1 navigation menu icon
 temporary icon, does not work without it*/
.icon-navigation-interactions {
    background: url(resources/images/fam/phone_sound.png) no-repeat center left !important;
}

.icon-navigation-training-planner {
    background: url(resources/images/fam/graduation_hat2.png) no-repeat center left !important;
}

.icon-navigation-training-list {
    background: url("resources/images/fam/training-list.png") no-repeat !important;
}

.icon-navigation-ivr {
    background: url(resources/images/fam/icon-ivr.png) no-repeat center left !important;
}

.notification-bar-container {
    background-color: #005191 !important;
    color: #ffffff !important;

}

.notification-bar-text {
    text-align: left;
    vertical-align: middle;
}

.help-label {
    text-align: left;
    vertical-align: middle;
    color: gray !important;
}

.speech-help-label {
    text-align: left;
    vertical-align: middle;
    font: 12px tahoma, sans-serif;
    color: gray !important;
}

.help-icon {
    background: url(resources/images/gxt/shared/help.gif) no-repeat center left !important;
}

.noInteractionsPanel {
    text-align: center;
}

.noInteractionsPanelTitle {
    font-size: 1.7em;
}

.noInteractionsPanelSubtitle {
    color: #C0C0C0;
}

/*Marker attribute for GroupingListView*/
.view-item-selectable {
    /*empty*/
}

.errorMessagePaneIcon {
    background: url(resources/images/zoom/sign_warning.png) no-repeat center left !important;
    height: 70px;
    width: 70px;
}

.icon-collapsed {
    background: url(resources/images/zoom/icon_closed.png) no-repeat center left !important;
    height: 16px;
    width: 16px;
}

.icon-expanded {
    background: url(resources/images/zoom/icon_opened.png) no-repeat center left !important;
    height: 16px;
    width: 16px;
}

.cursor-hand:hover {
    cursor: pointer;
}

#images-view .thumb {
    background: transparent;
    padding: 4px;
}

#images-view .thumb img {
    height: 16px;
    width: 16px;
}

#images-view .thumb-wrap {
    float: left;
    margin: 4px;
    padding: 4px;
    overflow: hidden;
}

#images-view .thumb-wrap span {
    display: block;
    text-align: center;
}

#images-view .x-view-over {
    border: 1px solid #dddddd;
    background: #efefef url(resources/images/default/grid/row-over.gif) repeat-x left top;
    padding: 4px;
}

#images-view .x-view-selected {
    background: #eff5fb url(resources/images/zoom/selected.gif) no-repeat right bottom;
    border: 1px solid #99bbe8;
    padding: 4px;
}

#images-view .x-view-selected .thumb {
    background: transparent;
}

#images-view .loading-indicator {
    font-size: 11px;
    background-image: url('resources/images/default/grid/loading.gif');
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 20px;
    margin: 10px;
}

.details .x-btn-text {
    background-image: url(resources/images/zoom/details.gif);
}

/*chooser */
.details .x-panel-body {
    padding: 10px;
    text-align: center;
}

.details img {
    padding: 10px;
    height: 90px;
    width: 64px;
}

.details-info {
    border-top: 1px solid #cccccc;
    font: 11px Arial, Helvetica, sans-serif;
    margin-top: 5px;
    padding-top: 5px;
    text-align: left;
}

.details-info b {
    color: #555555;
    display: block;
    margin-bottom: 4px;
}

.details-info span {
    display: block;
    margin-bottom: 5px;
    margin-left: 5px;
}

.wordwrap {
    word-wrap: break-word;
    margin-right: 10px;
}

.x-mask-interactions-loading div {
    padding: 20px 20px 20px 50px;
    background-color: white;
    border: 0px;
    font:normal 20px tahoma, arial, helvetica, sans-serif;
    text-align: center;
    background-image: url('resources/images/gxt/shared/large-loading.gif');
    background-repeat: no-repeat;
    background-position: 10px 50%;
}

.x-mask-interactions-evaluate-loading div {
    background-image: url('resources/images/default/grid/loading.gif');
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 20px;
}

.x-tip ul {
  list-style-type: disc;
  list-style-position: inside;
}

.x-component applet {
  display: block;
}

.x-form-readonly .x-form-field {
  color: #555;
}

.truncated-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.button-with-icon-container button{
    padding: 0 15px !important;
    width: auto !important;
}

